@model Tuple<Spedizioni.Models.Spedizione, List<Spedizioni.Models.AggiornamentoSpedizione>>

@{
    ViewBag.Title = "Details";
}

<div class="d-flex flex-column font-monospace">
    <h2>Dettagli Spedizione</h2>

</div>

<div class="font-monospace">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.IDSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.IDSpedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.FK_IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.FK_IDCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.DataSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.DataSpedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.CittaDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.CittaDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.IndirizzoDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.IndirizzoDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.NominativoDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.NominativoDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.CostoSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.CostoSpedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.DataConsegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.DataConsegna)
        </dd>
    </dl>
</div>

@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("Edit", new { id = Model.Item1.IDSpedizione })" class="btn btn-warning btn-custom btn-sm">
        <i class="bi bi-pencil-square"></i> Modifica
    </a>
}
<hr />

<div class="font-monospace">
    <h4>Aggiornamenti Spedizione</h4>
    @if (Request.IsAuthenticated)
    {
        <a href="@Url.Action("Create", "AggiornamentoSpedizione", new { idSpedizione = Model.Item1.IDSpedizione })" class="btn btn-warning btn-custom btn-sm">
            <i class="bi bi-plus-square"></i> Aggiornamento
        </a>
    }
    <table class="table">
        <tr>
            <th>Stato</th>
            <th>Luogo</th>
            <th>Descrizione Evento</th>
            <th>Ultimo Aggiornamento</th>
        </tr>

        @foreach (var aggiornamento in Model.Item2) // Accedi al secondo elemento della tupla
        {
            <tr>
                <td>@aggiornamento.StatoSped</td>
                <td>@aggiornamento.LuogoPacco</td>
                <td>@aggiornamento.DescrizEvento</td>
                <td>@aggiornamento.UltimoAggiornamento.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }
    </table>
</div>


<div>
    @if (Request.IsAuthenticated)
    {

        <a href="@Url.Action("Index")" class="btn btn-warning btn-custom btn-sm">
            <i class="bi bi-arrow-left-square"></i> Spedizioni
        </a>
    }
    else
    {
        {
            <a href="@Url.Action("VerificaSpedizione", "Home", new { area = "" })" class="btn btn-warning btn-custom btn-sm">
                <i class="bi bi-arrow-left-square"></i> Ricerca
            </a>
        }
        <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-warning btn-custom btn-sm">
            <i class="bi bi-arrow-left-square"></i> Home
        </a>
    }
</div>


