@model IEnumerable<Spedizioni.Models.Spedizione>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex flex-column font-monospace">
    <h2>Spedizioni</h2>

    <div class="align-self-end">
        <a href="@Url.Action("Create")" class="btn btn-warning btn-custom btn-sm px-3 mb-3">
            <i class="bi bi-plus-square"></i> Nuovo
        </a>
        <a href="@Url.Action("Index", "AggiornamentoSpedizione")" class="btn btn-warning btn-custom btn-sm px-3 mb-3">
            <i class="bi bi-arrow-right-square"></i> Aggiornamenti
        </a>

    </div>
    

</div>


<table class="table font-monospace">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_IDCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CittaDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndirizzoDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NominativoDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsegna)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_IDCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CittaDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndirizzoDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NominativoDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsegna)
        </td>
        
        <td class="text-end">
            <a href="@Url.Action("Edit", new { id = item.IDSpedizione })" class="btn btn-warning btn-custom btn-sm">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a href="@Url.Action("Details", new { id = item.IDSpedizione })" class="btn btn-warning btn-custom btn-sm">
                <i class="bi bi-info-square"></i>
            </a>


        </td>
    </tr>
}

</table>
