@model Spedizioni.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<div class="d-flex flex-column font-monospace">
    <h2>Dettagli Cliente</h2>

</div>

<div class="font-monospace">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd class="text-uppercase">
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAzienda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAzienda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartitaIVA)
        </dt>

        <dd class="text-uppercase">
            @Html.DisplayFor(model => model.PartitaIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>

    <div>
        <a href="@Url.Action("Edit", new { id = Model.IDCliente })" class="btn btn-warning btn-custom btn-sm">
            <i class="bi bi-pencil-square"></i> Modifica
        </a>
        <a href="@Url.Action("Index")" class="btn btn-warning btn-custom btn-sm">
            <i class="bi bi-arrow-left-square"></i> Indietro
        </a>
    </div>
</p>
