@model IEnumerable<Spedizioni.Models.Cliente>

@{
    ViewBag.Title = "Index";
}


<div class="d-flex flex-column font-monospace">
    <h2>Index</h2>


    <a href="@Url.Action("Create")" class="btn btn-warning btn-custom btn-sm align-self-end">
        <i class="bi bi-plus-square"></i> Nuovo
    </a>

</div>

<table class="table font-monospace">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCliente)
        </th>
        <th>
            Cliente
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCliente)
            </td>
            <td>
                @((item.TipoCliente == "Privato") ? (item.Cognome + " " + item.Nome) : item.NomeAzienda)
            </td>

            <td class="text-end">
                <a href="@Url.Action("Edit", new { id = item.IDCliente })" class="btn btn-warning btn-custom btn-sm">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="@Url.Action("Details", new { id = item.IDCliente })" class="btn btn-warning btn-custom btn-sm">
                    <i class="bi bi-info-square"></i>
                </a>


            </td>
        </tr>
    }

</table>
